.footer {
  bottom: 0;
  height: 7rem;
  width: 100%;
  background-color: yellow;
  position: fixed;
  margin-top: 7rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  width: 33.33%;
  border-right: 1px solid black;
}
